{% assign meta = include.url | metadata %}

<div>
  {% if meta['og:image'] != blank %}
  <img src="{{ meta['og:image'] }}" alt="{{ meta['og:title'] }}" />
  {% else %}
  <!-- Add a fallback image here, if the opengraph image for given url does not exist -->
  {% endif %}
  {% comment %} <h3><a href="{{ meta['url'] }}">{{ meta['title'] }}</a></h3> {% endcomment %}
  <h3><a href="{{ include.url }}">{{ meta['title'] }}</a></h3>
  {% comment %} <h3>{{ meta['title'] }}</h3> {% endcomment %}
  <p>{{ meta['og:description'] }}</p>
</div>
